body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #f4f4f9;
}

/* Estilos base para los párrafos */
.texto {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 200px;
    text-align: center;
}